<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="TestableAsyncAppender" type="IntegrationTests.Helpers.TestableAsyncAppender, log4net.AsyncAppender.IntegrationTests">
    <maxConcurrentProcessorsCount value="10" />
    <maxBatchSize value="1024" />
    <closeTimeoutMillis value="15000" />
    <trace value="true" />
    <configurator type="IntegrationTests.Helpers.TestConfigurator, log4net.AsyncAppender.IntegrationTests" />
    <errorHandler type="IntegrationTests.Helpers.TraceErrorHandler, log4net.AsyncAppender.IntegrationTests" />
  </appender>

  <root>
    <level value="ALL"/>
    <appender-ref ref="TestableAsyncAppender" />
  </root>
</log4net>
