<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="ElasticsearchAsyncAppender" type="log4net.Elasticsearch.Async.ElasticsearchAsyncAppender, log4net.Elasticsearch.Async">
    <connectionString value="Scheme=http;User=me;Pwd=pass;Server=myServer.com;Port=9000;Index=anIndex;Routing=aRoute;rolling=true" />
    <processorsCount value="10" />
    <maxBatchSize value="1024" />
    <closeTimeoutMillis value="15000" />
    <eventJsonSerializerAssemblyQualifiedName value="log4net.Elasticsearch.Async.Helpers.EventJsonSerializer, log4net.Elasticsearch.Async.IntegrationTests" />
    <appenderConfiguratorAssemblyQualifiedName value="-configurator-" />
    <errorHandler type="log4net.Elasticsearch.Async.Helpers.TraceErrorHandler, log4net.Elasticsearch.Async.IntegrationTests" />
  </appender>

  <root>
    <level value="ALL"/>
    <appender-ref ref="ElasticsearchAsyncAppender" />
  </root>
</log4net>
