<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="ElasticsearchAsyncAppender" type="log4net.Elasticsearch.Async.ElasticsearchAsyncAppender, log4net.Elasticsearch.Async">
    <connectionString value="Scheme=http;Server=paradise.cisadom.pri;Index=maplogs;Port=9200;rolling=true"/>
    <processorsCount value="1" />
    <maxBatchSize value="200" />
    <closeTimeoutMillis value="5000" />
    <eventJsonSerializerAssemblyQualifiedName value="log4net.Elasticsearch.Async.IntegrationTests.EventJsonSerializer, log4net.Elasticsearch.Async.IntegrationTests" />
    <appenderConfiguratorAssemblyQualifiedName value="log4net.Elasticsearch.Async.IntegrationTests.AppenderConfigurator, log4net.Elasticsearch.Async.IntegrationTests" />
    <errorHandler type="log4net.Elasticsearch.Async.IntegrationTests.TraceErrorHandler, log4net.Elasticsearch.Async.IntegrationTests" />
  </appender>

  <root>
    <level value="ALL"/>
    <appender-ref ref="ElasticsearchAsyncAppender" />
  </root>
</log4net>
